In [1]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [2]:
import pandas as pd
import numpy as np

In [3]:
import psycopg2

In [4]:
conn = psycopg2.connect(
    host="localhost",
    database="rishabhdb",
    user="postgres",
    password="Rishabh_psql@123"
)

In [5]:
query = "SELECT * FROM customers;"
df = pd.read_sql_query(query, conn)

In [6]:
df

   customerid        name  age         city registrationdate
0           1    John Doe   28     New York       2022-01-15
1           2  Jane Smith   34  Los Angeles       2021-11-20
2           3   Bob Brown   45      Chicago       2023-02-10

In [7]:
conn.close()

In [8]:
df

   customerid        name  age         city registrationdate
0           1    John Doe   28     New York       2022-01-15
1           2  Jane Smith   34  Los Angeles       2021-11-20
2           3   Bob Brown   45      Chicago       2023-02-10